{{page-title "BasicTable"}}
{{breadcrumb "BasicTable"}}

<Heading @title="BasicTable" />

<Snippet @name="basic-table">
  {{! BEGIN-SNIPPET basic-table }}
  <BasicTable>
    <thead>
      <tr>
        <th scope="col">
          Test
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Test
        </td>
      </tr>
    </tbody>
  </BasicTable>
  {{! END-SNIPPET }}
</Snippet>