{{page-title "Basic table"}}
{{breadcrumb "Basic table"}}

<Heading @title="Basic table" />

<Snippet @name="basic-table.hbs">
  {{! BEGIN-SNIPPET basic-table }}
  <BasicTable>
    <thead>
      <tr>
        <th scope="col">
          Test
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Test
        </td>
      </tr>
    </tbody>
  </BasicTable>
  {{! END-SNIPPET }}
</Snippet>