{{page-title "BasicTable"}}
{{breadcrumb "BasicTable"}}

<Heading @title="BasicTable" />

<BasicTable>
  <thead>
    <tr>
      <th scope="col">
        Test
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Test
      </td>
    </tr>
  </tbody>
</BasicTable>