{{page-title "ExternalLink"}}
{{breadcrumb "ExternalLink"}}

<Subheading @title="ExternalLink" />

<p>
  <ExternalLink @href="https://www.google.com/">
    https://www.google.com/
  </ExternalLink>
</p>

<p>
  <ExternalLink @href="https://www.google.com/" @icon="up-right-from-square">
    https://www.google.com/
  </ExternalLink>
</p>