{{page-title "External link"}}
{{breadcrumb "External link"}}

<Heading @title="External link" />

<Snippet @name="external-link.hbs">
  {{! BEGIN-SNIPPET external-link }}
  <p>
    <ExternalLink
      @href="https://www.google.com/"
    >https://www.google.com</ExternalLink>
    ·
    <ExternalLink @href="https://www.google.com/">
      https://www.google.com/
    </ExternalLink>
  </p>

  <p>
    <ExternalLink @href="https://www.google.com/" @icon="up-right-from-square">
      https://www.google.com/
    </ExternalLink>
  </p>
  {{! END-SNIPPET }}
</Snippet>