{{page-title "Main"}}
{{breadcrumb "Main"}}

<Heading @title="Main" />

<Snippet @name="main">
  {{! BEGIN-SNIPPET main }}
  <Main>
    <Main::TopHeader>
      Top header
    </Main::TopHeader>
    <Main::Header>
      Header
    </Main::Header>
    <Main::Body>
      Body
    </Main::Body>
    <Main::Footer>
      Footer
    </Main::Footer>
  </Main>
  {{! END-SNIPPET }}
</Snippet>

<Subheading @title="Main::Body" />

<Main::Body>
  Body
</Main::Body>

<Subheading @title="Main::Footer" />

<Main::Footer>
  Footer
</Main::Footer>

<Subheading @title="Main::Header" />

<Main::Header>
  <Heading @title="Title" @type="Type" @identifier="identifier">
    <Button @text="Actions" @color="primary" {{dropdown}} />
    <Dropdown>
      <Dropdown::Item @text="Action 1" />
      <Dropdown::Item @text="Action 2" />
      <Dropdown::Item @text="Action 3" />
    </Dropdown>
  </Heading>
</Main::Header>

<Subheading @title="Main::TopHeader" />

<Main::TopHeader>
  Top header
</Main::TopHeader>