{{page-title "Main"}}
{{breadcrumb "Main"}}

<Heading @title="Main" />

<Main>
  Main
</Main>

<Subheading @title="Main::Body" />

<Main::Body>
  Body
</Main::Body>

<Subheading @title="Main::Footer" />

<Main::Footer>
  Footer
</Main::Footer>

<Subheading @title="Main::Header" />

<Main::Header>
  <Heading @title="Title" @type="Type" @code="code">
    <Button @text="Actions" @color="primary" {{dropdown}} />
    <Dropdown>
      <Dropdown::Item @text="Action 1" />
      <Dropdown::Item @text="Action 2" />
      <Dropdown::Item @text="Action 3" />
    </Dropdown>
  </Heading>
</Main::Header>

<Subheading @title="Main::TopHeader" />

<Main::TopHeader>
  TopHeader
</Main::TopHeader>