{{page-title "Main"}}
{{breadcrumb "Main"}}

<Heading @title="Main" />

<Snippet @name="main.hbs">
  {{! BEGIN-SNIPPET main }}
  <Main>
    <Main::TopHeader>
      Top header
    </Main::TopHeader>
    <Main::Header>
      Header
    </Main::Header>
    <Main::Body>
      Body
    </Main::Body>
    <Main::Footer>
      Footer
    </Main::Footer>
  </Main>
  {{! END-SNIPPET }}
</Snippet>

<Subheading @title="Main body" />

<Snippet @name="main-body.hbs">
  {{! BEGIN-SNIPPET main-body }}
  <Main::Body>
    Body
  </Main::Body>
  {{! END-SNIPPET }}
</Snippet>

<Subheading @title="Main footer" />

<Snippet @name="main-footer.hbs">
  {{! BEGIN-SNIPPET main-footer }}
  <Main::Footer>
    Footer
  </Main::Footer>
  {{! END-SNIPPET }}
</Snippet>

<Subheading @title="Main header" />

<Snippet @name="main-header.hbs">
  {{! BEGIN-SNIPPET main-header }}
  <Main::Header>
    <Heading @title="Title" @type="Type" @identifier="identifier">
      <Button @label="Actions" @color="primary" {{dropdown}} />
      <Dropdown>
        <Dropdown::Item @label="Action 1" />
        <Dropdown::Item @label="Action 2" />
        <Dropdown::Item @label="Action 3" />
      </Dropdown>
    </Heading>
  </Main::Header>
  {{! END-SNIPPET }}
</Snippet>

<Subheading @title="Main top header" />

<Snippet @name="main-top-header.hbs">
  {{! BEGIN-SNIPPET main-top-header }}
  <Main::TopHeader>
    Top header
  </Main::TopHeader>
  {{! END-SNIPPET }}
</Snippet>