{{page-title "Nav"}}
{{breadcrumb "Nav"}}

<Heading @title="Nav" />

<Nav>
  <Nav::Item @route="index">First</Nav::Item>
  <Nav::Item @route="comps">Second</Nav::Item>
  <Nav::Item @route="index">Third</Nav::Item>
</Nav>