{{page-title "Nav"}}
{{breadcrumb "Nav"}}

<Subheading @title="Nav" />

<Nav>
  <LinkTo @route="index" class="nav-link">First</LinkTo>
  <LinkTo @route="comps" class="nav-link">Second</LinkTo>
  <LinkTo @route="index" class="nav-link">Third</LinkTo>
</Nav>