{{page-title "Nav"}}
{{breadcrumb "Nav"}}

<Heading @title="Nav" />

<Subheading @title="Default" />

<Nav>
  <Nav::Item @route="comps" @text="First" @count={{12}} />
  <Nav::Item @route="index" @text="Second" />
  <Nav::Item @route="index" @text="Third" />
</Nav>

<Subheading @title="Pills" />

<Nav @isPills={{true}}>
  <Nav::Item @route="comps" @text="First" />
  <Nav::Item @route="index" @text="Second" />
  <Nav::Item @route="index" @text="Third" />
</Nav>

<Subheading @title="Vertical" />

<Nav @isPills={{true}} class="flex-column">
  <Nav::Item @route="comps" @text="First" @count={{12}} />
  <Nav::Item @route="index" @text="Second" @count={{12}} />
  <Nav::Item @route="index" @text="Third" />
</Nav>