{{page-title "Ratio"}}
{{breadcrumb "Ratio" route="comps.ratio"}}

<Heading @title="Ratio" />

<Snippet @name="ratio.hbs">
  {{! BEGIN-SNIPPET ratio }}
  <Ratio @ratio="21x9" class="w-50">
    <div
      class="d-flex justify-content-center align-items-center text-bg-secondary"
    >21x9</div>
  </Ratio>
  {{! END-SNIPPET }}
</Snippet>