{{page-title "StatCard"}}
{{breadcrumb "StatCard"}}

<Heading @title="StatCard" />

<div class="row">
  <div class="col">
    <StatCard @label="Key 1" @value="0" />
  </div>
  <div class="col">
    <StatCard @label="Key 2" @value="12" />
  </div>
  <div class="col">
    <StatCard @label="Key 3" @value="123" />
  </div>
</div>