{{page-title "StatCard"}}
{{breadcrumb "StatCard"}}

<Heading @title="StatCard" />

<div class="row">
  <div class="col">
    <StatCard @label="Key 1" @value="Value 1" />
  </div>
  <div class="col">
    <StatCard @label="Key 2" @value="Value 2" />
  </div>
  <div class="col">
    <StatCard @label="Key 3" @value="Value 3" />
  </div>
</div>