{{page-title "Stat card"}}
{{breadcrumb "Stat card"}}

<Heading @title="Stat card" />

<Snippet @name="stat-card.hbs">
  {{! BEGIN-SNIPPET stat-card }}
  <div class="row">
    <div class="col">
      <StatCard @label="Key 1" @value="0" />
    </div>
    <div class="col">
      <StatCard @label="Key 2" @value="12" />
    </div>
    <div class="col">
      <StatCard @label="Key 3" @value="123" />
    </div>
    <div class="col">
      <StatCard @label="Key 4" @value="1,234" @icon="user" @route="index" />
    </div>
    <div class="col">
      <StatCard @label="Key 5" @icon="user" @route="index">
        Block
      </StatCard>
    </div>
  </div>
  {{! END-SNIPPET }}
</Snippet>