body {
  display: grid;
  grid-template-areas:
    "section section"
    "aside main";
  grid-template-rows: min-content 1fr;
  /* stylelint-disable declaration-block-no-redundant-longhand-properties */
  grid-template-columns: min-content 1fr;
  height: 100vh;
}

body > section {
  grid-area: section;
}

body > aside {
  grid-area: aside;
  min-width: 17rem;
}

aside .nav-link.active {
  background-color: var(--bs-body-bg) !important;
  font-weight: 600;
}

aside .nav-link,
aside .nav-link:hover,
aside .nav-link:focus {
  color: var(--bs-body-color);
  transition: none;
}

aside .nav-link svg {
  color: var(--bs-secondary);
}

aside .nav-pills .nav-link.active,
aside .nav-link.active svg {
  color: var(--bs-nav-link-color);
}

.collapsing {
  transition: height 0.1s cubic-bezier(0.19, 0.91, 0.38, 1) !important;
}

aside .nav-link:hover {
  background-color: var(--bs-secondary-bg);
}

body aside .tds-aside-logo {
  height: 2.25rem;
}

[data-bs-theme="dark"] .tds-aside-logo {
  filter: invert(1);
}

body > main {
  grid-area: main;
}

/* collapsed */

aside.collapsed {
  width: inherit !important;
  min-width: inherit !important;
}

aside.collapsed .tds-aside-title,
aside.collapsed .nav-link span {
  display: none;
}

aside.collapsed .tds-aside-logo,
aside.collapsed nav .fa-fw {
  margin-right: 0 !important;
}

.dropdown-menu .dropdown-item svg {
  color: var(--bs-secondary);
}

/* components */

/* form/file-dropzone */

.form-file-dropzone {
  padding: 1.5rem;
  text-align: center;
  color: var(--bs-secondary);
  background-color: var(--bs-secondary-bg);
  border: 1px var(--bs-gray-400) dashed;
  border-radius: var(--bs-border-radius);
}

.form-file-dropzone label {
  cursor: pointer;
}

/* form/html-input */

.pell-actionbar {
  white-space: nowrap;
  overflow: hidden;
  background-color: var(--bs-body-bg);
}

.pell-actionbar .pell-button-selected {
  background-color: var(--bs-tertiary-bg);
  color: var(--bs-primary);
}

.pell-content {
  height: 16rem;

  /* transition: $input-transition; */
}

.pell-content:hover,
.pell-content:focus {
  border-color: var(--bs-primary);
}

/* .pell-content:focus {
  box-shadow: $input-focus-box-shadow;
} */

/* badge */

.badge .spinner-border-sm {
  --bs-spinner-width: 1em;
  --bs-spinner-height: 1em;
}

/* calendar */

:root {
  --fc-border-color: var(--bs-border-color);
  --fc-button-text-color: var(--bs-body-color);
  --fc-button-bg-color: var(--bs-tertiary-bg);
  --fc-button-border-color: var(--bs-secondary-border-subtle);
}

/* vendor components */

.copy-btn {
  padding: 0;
  background: none;
  color: var(--bs-body-color);
  border: none;
  text-align: inherit;
}

.yeti-table thead tr th.yeti-table-sorted-asc::after {
  content: "↑";
}

.yeti-table thead tr th.yeti-table-sorted-desc::after {
  content: "↓";
}

.yeti-table-pagination-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.yeti-table-pagination-controls-page-info {
  margin-right: auto;
}

.yeti-table-pagination-controls-page-size {
  display: none;
}

.yeti-table-pagination-controls-previous,
.yeti-table-pagination-controls-next {
  /* @extend .btn, .btn-secondary; */

  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-border-radius: var(--bs-border-radius);
  --bs-btn-box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%),
    0 1px 1px rgb(0 0 0 / 7.5%);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem
    rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
  --bs-btn-color: #fff;
  --bs-btn-bg: #6c757d;
  --bs-btn-border-color: #6c757d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5c636a;
  --bs-btn-hover-border-color: #565e64;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #565e64;
  --bs-btn-active-border-color: #51585e;
  --bs-btn-active-shadow: inset 0 3px 5px rgb(0 0 0 / 12.5%);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #6c757d;
  --bs-btn-disabled-border-color: #6c757d;

  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
