body {
  display: grid;
  grid-template-areas:
    "section section"
    "aside main";
  grid-template-rows: min-content 1fr;
  /* stylelint-disable declaration-block-no-redundant-longhand-properties */
  grid-template-columns: min-content 1fr;
  height: 100vh;
}

body > section {
  grid-area: section;
}

body > aside {
  grid-area: aside;
  min-width: 17rem;
}

body aside .tds-aside-logo {
  height: 2.25rem;
}

body > main {
  grid-area: main;
}

/* collapsed */

aside.collapsed {
  min-width: inherit !important;
}

aside.collapsed .link-light > h4,
aside.collapsed .nav-link > span {
  display: none;
}

aside.collapsed .tds-aside-logo,
aside.collapsed nav .fa-fw {
  margin-right: 0 !important;
}

/* vendor components */

.copy-btn {
  padding: 0;
  background: none;
  color: var(--bs-body-color);
  border: none;
  text-align: inherit;
}

.yeti-table thead tr th.yeti-table-sorted-asc::after {
  content: "↑";
}

.yeti-table thead tr th.yeti-table-sorted-desc::after {
  content: "↓";
}

.yeti-table-pagination-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.yeti-table-pagination-controls-page-info {
  margin-right: auto;
}

/* ember-power-select */

.ember-power-select-trigger {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  line-height: 1.5;
  background-color: var(--bs-body-bg);
  background-image: var(--bs-form-select-bg-img),
    var(--bs-form-select-bg-icon, none);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: var(--bs-border-width) solid var(--bs-border-color);

  /* @include border-radius($form-select-border-radius, 0);
  @include box-shadow($form-select-box-shadow);
  @include transition($form-select-transition); */

  &:focus {
    /* border-color: $form-select-focus-border-color; */
    outline: 0;

    /* @if $enable-shadows {
      @include box-shadow(
        $form-select-box-shadow,
        $form-select-focus-box-shadow
      );
    } @else {
      box-shadow: $form-select-focus-box-shadow;
    } */
  }

  &[aria-disabled="true"] {
    cursor: default;
  }

  .ember-power-select-placeholder,
  .ember-power-select-selected-item {
    width: 100%;
    margin-left: 0;
  }

  .ember-power-select-clear-btn {
    position: static;
    float: right;
    font-size: 150%;
    line-height: 1;
    margin-left: 0.5rem;
  }

  .ember-power-select-status-icon {
    display: none;
  }
}

.ember-power-select-dropdown {
  background-color: var(--bs-body-bg);
  border: var(--bs-border-width) solid var(--bs-border-color-translucent) !important;
  box-shadow: var(--bs-dropdown-box-shadow);
}

.ember-power-select-search {
  padding: 0.5rem;
  line-height: 1.5;
  background-color: var(--bs-tertiary-bg);
  border-bottom: var(--bs-border-width) solid var(--bs-border-color);
}

.ember-power-select-search-input {
  padding: 0.375rem 0.75rem;
  border: var(--bs-border-width) solid var(--bs-border-color);

  /* @include transition($input-transition); */
}

/* .ember-power-select-search-input:focus {
  color: $input-focus-color;
  background-color: $input-focus-bg;
  border-color: $input-focus-border-color;
  outline: 0;
  box-shadow: $input-focus-box-shadow;
} */

.ember-power-select-options {
  padding: 0.5rem 0;
}

.ember-power-select-option {
  padding: 0.25rem 1rem;
}

.ember-power-select-option[aria-selected="true"] {
  color: #fff;
  background-color: #0d6efd;
}

.ember-power-select-multiple-trigger {
  padding-left: 0.5rem;
}

.ember-power-select-multiple-option {
  border: none;
  margin: 0;
  margin-right: 0.25rem;
}

.ember-basic-dropdown {
  min-width: 0;
}
