/* components */

/* form/html-input */

.form-html-input .tiptap:focus {
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

/* aside */

[data-bs-theme="dark"] aside .tds-aside-logo {
  filter: invert(1);
}

/* button-group */

.button-group > :not(.btn-check:first-child) + button {
  margin-left: -1px;
}

.button-group > button:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button-group > :not(.btn-check) + button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* calendar */

:root {
  --fc-border-color: var(--bs-border-color);
  --fc-button-text-color: var(--bs-body-color);
  --fc-button-bg-color: var(--bs-tertiary-bg);
  --fc-button-border-color: var(--bs-secondary-border-subtle);
  --fc-button-hover-bg-color: var(--bs-gray-500);
  --fc-button-hover-border-color: var(--bs-gray-500);
  --fc-button-active-bg-color: var(--bs-gray-500);
  --fc-button-active-border-color: var(--bs-gray-500);
}

/* frame */

.tds-frame {
  grid-template: "section section" min-content "aside main" 1fr / min-content 1fr;
}

.tds-frame > section {
  grid-area: section;
}

.tds-frame > aside {
  grid-area: aside;
}

.tds-frame > main {
  grid-area: main;
}

/* list-attributes */

.invisible-icon .fa-fw {
  visibility: hidden !important;
}

/* nav */

/* stylelint-disable-next-line */
.nav-pills .nav-link.active > svg {
  color: var(--bs-nav-pills-link-active-color);
}

/* property-list */

dl dt:last-of-type,
dl dd:last-child {
  margin-bottom: 0;
}

/* table */

.table thead th {
  white-space: nowrap;
}

.yeti-table thead tr th.yeti-table-sorted-asc::after {
  content: "↑";
}

.yeti-table thead tr th.yeti-table-sorted-desc::after {
  content: "↓";
}
