{{page-title "Nav"}}

<Subheading @title="Nav" />

<Nav as |nav|>
  <nav.link-to @route="index" class="nav-link">First</nav.link-to>
  <nav.link-to @route="components" class="nav-link">Second</nav.link-to>
  <nav.link-to @route="index" class="nav-link">Third</nav.link-to>
</Nav>