body {
  height: 100vh;
  display: flex;
  background-color: var(--bs-light);
}

aside {
  min-width: 14rem;
}

aside img {
  height: 2.063rem;
  filter: invert(1);
}

.nav-link {
  color: var(--bs-dark);
  /* padding: 0.35rem $spacer; */

  /* &:hover,
  &.active {
    color: $primary;
  }

  &.active {
    font-weight: $btn-font-weight;
  } */
}

.breadcrumb {
  --bs-breadcrumb-margin-bottom: 0;
}
