/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

.breadcrumb {
  --bs-breadcrumb-margin-bottom: 0;
}

.container-fluid {
  --bs-gutter-x: 3rem;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  font-weight: 700;
}
