/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

@import "tailwindcss";

@custom-variant ember-active (&.active);

.border > .shiki-code-block .shiki {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

:root {
  --ember-shiki-border-radius: 0.5rem !important;
}

.text-disabled {
  color: #a3acb9;
}
