<div
  class="alert alert-{{if @color @color 'secondary'}} d-flex gap-3"
  role="alert"
  data-test-alert
  ...attributes
>
  {{#if @icon}}
    <div>
      <Icon @icon={{@icon}} />
    </div>
  {{/if}}
  <div>
    {{#if (has-block "title")}}
      <h6 class="alert-heading">{{yield to="title"}}</h6>
    {{/if}}
    {{yield}}
  </div>
</div>