<div
  class="d-flex align-items-center justify-content-center"
  data-test-loader
  ...attributes
>
  <div
    class="spinner-border spinner-border-sm text-primary"
    role="status"
  ></div>
</div>