<div ...attributes>
  {{#if @title}}
    <p class="text-uppercase">
      {{@title}}
    </p>
  {{/if}}
  <dl class="row {{if @isHorizontal 'gx-5'}} mb-0">
    {{yield
      (hash item=(component "property-list/item" isHorizontal=@isHorizontal))
    }}
  </dl>
</div>