<Bs::Card class='border-0 bg-light mb-4' ...attributes as |card|>
  <card.body>
    <h6 class='card-title fw-normal text-secondary'>
      {{@key}}
    </h6>
    <h5 class='mb-0'>
      {{#if @value}}
        {{@value}}
      {{else}}
        &mdash;
      {{/if}}
    </h5>
  </card.body>
</Bs::Card>