<div class="card border-0 bg-body-tertiary mb-4" ...attributes>
  <div class="card-body">
    <h6 class="card-title fw-normal text-secondary">
      {{@key}}
    </h6>
    <h5 class="mb-0">
      {{#if @value}}
        {{@value}}
      {{else}}
        &mdash;
      {{/if}}
    </h5>
  </div>
</div>