:root {
  --bs-upsell: var(--bs-purple);
  --bs-upsell-text-emphasis: #2c1a4d;
  --bs-upsell-bg-subtle: #e2d9f3;
  --bs-upsell-border-subtle: #c5b3e6;
}

.text-upsell {
  color: var(--bs-upsell);
}

.bg-upsell {
  background-color: var(--bs-upsell);
}

.text-bg-upsell {
  color: white !important;
  background-color: var(--bs-upsell) !important;
}

.alert-upsell {
  --bs-alert-color: var(--bs-upsell-text-emphasis);
  --bs-alert-bg: var(--bs-upsell-bg-subtle);
  --bs-alert-border-color: var(--bs-upsell-border-subtle);
  --bs-alert-link-color: var(--bs-upsell-text-emphasis);
}

.btn-upsell {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--bs-upsell);
  --bs-btn-border-color: var(--bs-upsell);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #157347; /* TODO: */
  --bs-btn-hover-border-color: #146c43; /* TODO: */
  --bs-btn-focus-shadow-rgb: 60, 153, 110; /* TODO: */
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #146c43; /* TODO: */
  --bs-btn-active-border-color: #13653f; /* TODO: */
  --bs-btn-active-shadow: inset 0 3px 5px rgb(0 0 0 / 12.5%);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--bs-upsell);
  --bs-btn-disabled-border-color: var(--bs-upsell);
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  font-weight: 700 !important;
}

.collapsing {
  transition: height 0.1s cubic-bezier(0.19, 0.91, 0.38, 1) !important;
}

/* components */

/* form/file-dropzone */

.form-file-dropzone {
  padding: 1.5rem;
  text-align: center;
  color: var(--bs-secondary);
  background-color: var(--bs-secondary-bg);
  border: 1px var(--bs-gray-400) dashed;
  border-radius: var(--bs-border-radius);
}

.form-file-dropzone label {
  cursor: pointer;
}

/* form/html-input */

.form-html-input .tiptap {
  height: 16rem;
  padding: 0.375rem 0.75rem;
  outline: none;
  border-radius: var(--bs-border-radius);
  resize: vertical;
  overflow: auto;
}

.form-html-input .tiptap:focus {
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

/* form/label */

.form-label {
  font-weight: 600;
}

/* form/markdown-input */

.markdown-input-preview {
  padding: 0.375rem 0.75rem;
  border-color: transparent !important;
}

/* aside */

aside .nav-link.active {
  background-color: var(--bs-secondary-bg) !important;
  font-weight: 600;
}

aside .nav-link,
aside .nav-link:hover,
aside .nav-link:focus {
  color: var(--bs-body-color);
  transition: none;
}

aside .nav-link svg {
  color: var(--bs-secondary);
}

aside .nav-pills .nav-link.active,
aside .nav-pills .nav-link.active svg {
  color: var(--bs-nav-link-color) !important;
}

aside .nav-link:hover {
  background-color: var(--bs-secondary-bg);
}

aside .tds-aside-logo {
  height: 2rem;
}

[data-bs-theme="dark"] aside .tds-aside-logo {
  filter: invert(1);
}

/* badge */

.badge {
  font-weight: 600;
  border-radius: 0.35rem;
}

.badge .spinner-border-sm {
  --bs-spinner-width: 1em;
  --bs-spinner-height: 1em;
}

/* button */

.btn {
  font-weight: 600;
}

/* breadcrumb-trail */

.breadcrumb {
  --bs-breadcrumb-margin-bottom: 0;
}

/* calendar */

/* stylelint-disable-next-line no-duplicate-selectors */
:root {
  --fc-border-color: var(--bs-border-color);
  --fc-button-text-color: var(--bs-body-color);
  --fc-button-bg-color: var(--bs-tertiary-bg);
  --fc-button-border-color: var(--bs-secondary-border-subtle);
  --fc-button-hover-bg-color: var(--bs-gray-500);
  --fc-button-hover-border-color: var(--bs-gray-500);
  --fc-button-active-bg-color: var(--bs-gray-500);
  --fc-button-active-border-color: var(--bs-gray-500);
}

/* copy */

.tds-copy {
  padding: 0;
  background: none;
  color: var(--bs-body-color);
  border: none;
  text-align: inherit;
}

/* dropdown */

.dropdown-toggle::after {
  content: none !important;
}

/* frame */

.tds-frame {
  grid-template: "section section" min-content "aside main" 1fr / min-content 1fr;
}

.tds-frame > section {
  grid-area: section;
}

.tds-frame > aside {
  grid-area: aside;
  width: 18rem;
}

.tds-frame > main {
  grid-area: main;
}

/* main */

.container-fluid {
  --bs-gutter-x: 3rem;
}

/* property-list */

dl dt {
  margin-bottom: 0.5rem;
  font-weight: 400;
}

dl dt:last-of-type,
dl dd:last-child {
  margin-bottom: 0;
}

/* skeleton */

.placeholder {
  opacity: 0.03;
}

@keyframes placeholder-glow {
  50% {
    opacity: 0.1;
  }
}

/* table */

.table {
  margin-bottom: 0 !important;
}

.table thead th {
  white-space: nowrap;
}

.table td {
  vertical-align: middle;
}

.yeti-table thead tr th.yeti-table-sorted-asc::after {
  content: "↑";
}

.yeti-table thead tr th.yeti-table-sorted-desc::after {
  content: "↓";
}
