{{#if @text}}
  <label
    for={{@identifier}}
    class={{if @isCheck "form-check-label" "form-label"}}
    data-test-form-label
    ...attributes
  >
    {{@text}}
    {{#if @isRequired}}
      <Badge @text="Required" @color="light" class="ms-1" />
    {{/if}}
  </label>
{{/if}}