{{#if @text}}
  <div class="invalid-feedback" data-test-form-error ...attributes>
    <Icon @icon="triangle-exclamation" class="me-1" />
    {{@text}}
  </div>
  <div class="valid-feedback">
    <Icon @icon="check" class="me-1" />
    Looks good!
  </div>
{{/if}}