{{#if @text}}
  <label
    for={{@identifier}}
    class={{if @isCheck "form-check-label" "form-label"}}
    ...attributes
  >
    {{@text}}
    {{#if @required}}
      <span class="text-danger">
        *
      </span>
    {{/if}}
  </label>
{{/if}}