.ember-power-select-trigger {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  line-height: 1.5;
  background-color: var(--bs-body-bg);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.ember-power-select-trigger:focus:not([aria-expanded="true"]),
/* stylelint-disable-next-line selector-class-pattern */
.ember-power-select-trigger--active:not([aria-expanded="true"]) {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.ember-power-select-trigger[aria-disabled="true"] {
  background-color: var(--bs-secondary-bg);
  cursor: default;
}

.ember-power-select-placeholder,
.ember-power-select-selected-item {
  width: 100%;
  margin-left: 0;
}

.ember-power-select-clear-btn {
  position: static;
  float: right;
  font-size: 150%;
  line-height: 1;
  margin-left: 0.5rem;
}

.ember-power-select-status-icon {
  display: none;
}

.ember-power-select-dropdown {
  background-color: var(--bs-body-bg);
  border: var(--bs-border-width) solid var(--bs-border-color) !important;
  z-index: 1055;
}

.ember-power-select-search {
  padding: 0.5rem;
  line-height: 1.5;
  background-color: var(--bs-tertiary-bg);
  border-bottom: var(--bs-border-width) solid var(--bs-border-color);
}

.ember-power-select-search-input {
  padding: 0.375rem 0.75rem;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
}

.ember-power-select-search-input:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.ember-power-select-options {
  padding: 0.5rem 0;
  max-height: 20rem !important;
}

.ember-power-select-option {
  padding: 0.25rem 1rem;
}

.ember-power-select-option[aria-current="true"] {
  color: var(--bs-body-color);
  background-color: var(--bs-tertiary-bg);
}

.ember-power-select-option[aria-selected="true"] {
  color: var(--bs-white);
  background-color: var(--bs-primary);
}

.ember-power-select-option[aria-selected="true"] .text-gray-500 {
  color: var(--bs-white) !important;
}

.ember-power-select-visually-hidden {
  display: none;
}

.ember-power-select-multiple-trigger {
  padding-left: 0.5rem;
}

.ember-power-select-multiple-option {
  border: none;
  margin: 0;
  margin-right: 0.25rem;
}

.ember-basic-dropdown {
  min-width: 0;
}

.was-validated :valid ~ .ember-basic-dropdown .ember-power-select-trigger {
  border-color: var(--bs-form-valid-border-color);
}

.was-validated :invalid ~ .ember-basic-dropdown .ember-power-select-trigger {
  border-color: var(--bs-form-invalid-border-color);
}
