{{page-title "Design System"}}
{{breadcrumb "Design System"}}

<Aside
  @title="Design System"
  @logo="https://a3.taia.us/assets/images/logo.svg"
  @route="index"
>
  <:default>
    <LinkTo @route="components" class="nav-link">
      Components
    </LinkTo>
    <LinkTo @route="helpers" class="nav-link">
      Helpers
    </LinkTo>
    <LinkTo @route="example" class="nav-link">
      Example
    </LinkTo>
  </:default>

  <:lower>
    <LinkTo @route="index" class="nav-link">
      Link 4
    </LinkTo>
  </:lower>

  <:bottom>
    Bottom
  </:bottom>
</Aside>

<Main>
  <TopHeader class="border-bottom">
    Search
  </TopHeader>

  <TopHeader class="shadow-sm">
    <BreadcrumbTrail />
  </TopHeader>

  <Main::Body class="p-4">
    {{outlet}}
  </Main::Body>

  <Main::Footer>
    <ExternalLink @url="https://github.com/trusted-american/design-system">
      GitHub
    </ExternalLink>
  </Main::Footer>
</Main>