{{page-title "Design System"}}
{{breadcrumb "Design System" route="index"}}

<section>
  <section class="text-bg-primary text-center p-2">
    This is a banner.
  </section>
</section>

<Aside
  @title="Design System"
  @logo="https://a3.taia.us/assets/images/logo.svg"
  @route="index"
>
  <:default>
    <Aside::Item @text="Home" @route="index" @icon="house" />
    <Aside::Item @text="Components" @icon="boxes-stacked" @route="comps" />
    <Aside::Item @text="Helpers" @icon="font" @route="helpers" />
    <Aside::Item @text="Utils" @icon="screwdriver-wrench" @route="utils" />
  </:default>

  <:lower>
    <Aside::Item @text="Example" @icon="crop-simple" @route="example" />
  </:lower>
</Aside>

<Main>
  <Main::TopHeader>
    Search
  </Main::TopHeader>

  <Main::TopHeader>
    <BreadcrumbTrail />
  </Main::TopHeader>

  <Main::Body>
    {{outlet}}
  </Main::Body>

  <Main::Footer>
    <ExternalLink @href="https://github.com/trusted-american/design-system">
      GitHub
    </ExternalLink>
  </Main::Footer>
</Main>