{{page-title "Design System"}}
{{breadcrumb "Design System" route="index"}}

<Aside
  @title="Design System"
  @logo="https://a3.taia.us/assets/images/logo.svg"
  @route="index"
>
  <:default>
    <Aside::Item @text="Components" @icon="boxes-stacked" @route="components" />
    <Aside::Item @text="Helpers" @icon="font" @route="helpers" />
    <Aside::Item @text="Utils" @icon="screwdriver-wrench" @route="utils" />
  </:default>

  <:lower>
    <Aside::Item @text="Example" @icon="crop-simple" @route="example" />
  </:lower>

  <:bottom>
    <span class="text-secondary">
      Bottom
    </span>
  </:bottom>
</Aside>

<Main>
  <Main::TopHeader>
    Search
  </Main::TopHeader>

  <Main::TopHeader>
    <BreadcrumbTrail />
  </Main::TopHeader>

  <Main::Body>
    {{outlet}}
  </Main::Body>

  <Main::Footer>
    <ExternalLink @url="https://github.com/trusted-american/design-system">
      GitHub
    </ExternalLink>
  </Main::Footer>
</Main>