{{page-title "Components"}}
{{breadcrumb "Components"}}

<Heading @title="Components" />

<div class="row">
  <div class="col-2">
    <Bs::Nav @pills={{true}} class="flex-column" as |nav|>
      <nav.link-to @route="components.alert" class="nav-link">
        Alerts
      </nav.link-to>
      <nav.link-to @route="components.aside" class="nav-link">
        Aside
      </nav.link-to>
      <nav.link-to @route="components.avatar" class="nav-link">
        Avatar
      </nav.link-to>
      <nav.link-to @route="components.badge" class="nav-link">
        Badge
      </nav.link-to>
      <nav.link-to @route="components.breadcrumb-trail" class="nav-link">
        BreadcrumbTrail
      </nav.link-to>
      <nav.link-to @route="components.button" class="nav-link">
        Button
      </nav.link-to>
      <nav.link-to @route="components.button-set" class="nav-link">
        ButtonSet
      </nav.link-to>
      <nav.link-to @route="components.calendar" class="nav-link">
        Calendar
      </nav.link-to>
      <nav.link-to @route="components.card" class="nav-link">
        Card
      </nav.link-to>
      <nav.link-to @route="components.close-button" class="nav-link">
        CloseButton
      </nav.link-to>
      <nav.link-to @route="components.dropdown" class="nav-link">
        Dropdown
      </nav.link-to>
      <nav.link-to @route="components.external-link" class="nav-link">
        ExternalLink
      </nav.link-to>
      <nav.link-to @route="components.file-type" class="nav-link">
        FileType
      </nav.link-to>
      <nav.link-to @route="components.flyout" class="nav-link">
        Flyout
      </nav.link-to>
      <nav.link-to @route="components.form" class="nav-link">
        Form
      </nav.link-to>
      <nav.link-to @route="components.heading" class="nav-link">
        Heading
      </nav.link-to>
      <nav.link-to @route="components.list-filter" class="nav-link">
        ListFilter
      </nav.link-to>
      <nav.link-to @route="components.list-group" class="nav-link">
        ListGroup
      </nav.link-to>
      <nav.link-to @route="components.loader" class="nav-link">
        Loader
      </nav.link-to>
      <nav.link-to @route="components.main" class="nav-link">
        Main
      </nav.link-to>
      <nav.link-to @route="components.modal" class="nav-link">
        Modal
      </nav.link-to>
      <nav.link-to @route="components.nav" class="nav-link">
        Nav
      </nav.link-to>
      <nav.link-to @route="components.pagination" class="nav-link">
        Pagination
      </nav.link-to>
      <nav.link-to @route="components.placeholder" class="nav-link">
        Placeholder
      </nav.link-to>
      <nav.link-to @route="components.property-list" class="nav-link">
        PropertyList
      </nav.link-to>
      <nav.link-to @route="components.skeleton" class="nav-link">
        Skeleton
      </nav.link-to>
      <nav.link-to @route="components.stat-card" class="nav-link">
        StatCard
      </nav.link-to>
      <nav.link-to @route="components.subheading" class="nav-link">
        Subheading
      </nav.link-to>
      <nav.link-to @route="components.table" class="nav-link">
        Table
      </nav.link-to>
      <nav.link-to @route="components.toast" class="nav-link">
        Toast
      </nav.link-to>
    </Bs::Nav>
  </div>
  <div class="col-10">
    {{outlet}}
  </div>
</div>