{{page-title "Modifiers"}}
{{breadcrumb "Modifiers"}}

<Heading @title="Modifiers" />

<Subheading @title="collapse" />

<p>TODO</p>

<Subheading @title="dropdown" />

<Button @text="Open dropdown" {{dropdown}} />
<Dropdown>
  <Dropdown::Item @text="Item" />
</Dropdown>

<Subheading @title="tooltip" />

<Button
  @text="Hover me"
  {{tooltip "This is a tooltip." trigger="hover" placement="right"}}
/>