{{page-title "Modifiers"}}
{{breadcrumb "Modifiers"}}

<Heading @title="Modifiers" />

<Subheading @title="collapse" />

<p>TODO</p>

<Subheading @title="dropdown" />

<p>TODO</p>

<Subheading @title="tooltip" />

<p>TODO</p>