{{page-title "Modifiers"}}
{{breadcrumb "Modifiers"}}

<Heading @title="Modifiers" />

<Subheading @title="autoselect" />

<p>TODO:</p>

<Subheading @title="collapse" />

<p><LinkTo @route="comps.collapse">See collapse component</LinkTo></p>

<Subheading @title="dropdown" class="mt-3" />

<Button @text="Open dropdown" {{dropdown}} />
<Dropdown>
  <Dropdown::Item @text="Item" />
</Dropdown>

<Subheading @title="tooltip" class="mt-3" />

<Button
  @text="Hover me"
  {{tooltip "This is a tooltip." trigger="hover" placement="right"}}
/>